body
{
    background-color: gray;
    text-align: center;
    
}
table{
    background-color:red;
    text-align: center;
    width: 70%;
    height: 70px;
    border: 1px solid paleturquoise;
}

td {
    text-align: center;
  }
  th {
    height: 70px;
  }

h1 {
    background-color: blue;
  }